body {
    background: ghostwhite;
}
input {
    border: 1px solid lightgrey !important;
    border-radius:15px !important ;
    padding: 2px 10px !important;
    margin: 2px 0px !important;
}
ul {
    padding: 0px !important;
    margin: 3px 0px !important;
}

li {
    color: red !important;
    list-style: none !important;
}
.place_input {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
}
.input_form {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
}
.errorlist li {
    color: red !important;
}
* input[type='number'] {
    border: 2px solid black;
}

.number_count {
    border: 1px solid rgba(0, 0, 0, 0.164) !important;
    border-radius: 10px;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    /* min-width: 800px;
    width: 100%; */
    margin: auto;
}

.header_form {
    display: flex;
    align-items: center;
}

.header_form div {
    margin: 0px 2px;
}

.star {
    color: #831b1b;
}
form {
    background: white;
    border: 1px solid darkgrey;
    border-radius: 15px;
    padding: 20px;
    width: 800px;
}
.block_form {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}
#num {
    width: 60px;
    height: 40px;
}
#num_form {
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
}
.input_form input {
    border: 0px solid;
    height: 50px;
    margin: 0px 5px;

}

.place_input input {
    width: 100%;
}

.input_form {
    display: flex;
    align-items: center;

}

.inputError {
    color: red;
}

.block_form div {
    margin: 5px solid;
}

.form_hr {
    margin: 3px 0px;
    padding: 3px 0px;
}

.form_send {
    border: 0px;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: rgb(78, 125, 255);
    color: white;
}




@media (max-width: 810px) {
    form {
        width: 600px;
    }
    .main {
        margin-top: 30px;
    }
}
@media (max-width: 610px) {
    form {
        width: 400px;
    }

}
@media (max-width: 410px) {
    form {
        width: 310px;
    }
}

